.events-container {
  width: 100%;
}

.events-section-title {
  margin-bottom: 20px;
  text-align: center;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
