.search-participants__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.search-participants__input {
  border: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 10px 60px 10px 20px;
  margin-bottom: 30px;
}

.search-participants__SearchIcon {
  position: absolute;
  top: 9px;
  right: 10px;
}
