:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --main-color: #0c0c0c;
  --light-color: #ffffff;
  --accent-color: #420f9b;
  --text-shadow: rgba(243, 243, 243, 0.9) 0px 0px 2px;
  --box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 90%);
  --item-img-hover-shadow: 0 0 20px rgba(222, 222, 204, 0.5);
  --error-color: #fc0303;
}

[class*='__container'] {
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  flex: 1;
  padding: 20px 10%;
  overflow-y: auto;
}
